.thiscontainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: #333;
}
.inheritcontainer{
    width: 100%;
}
.thiscard{
    height: 300px;
    border: 1px solid red;
    padding: 10px 5px;
}
.tcard{
    /* margin: 10px 5px; */
    height: 100%;
}

.slick-prev,
.slick-next{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(153, 153, 153) !important;
    z-index: 1;
}